@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scrollbar scrollbar-thin scrollbar-track-gray-100 scrollbar-thumb-gray-400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
